/* styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background: #f9f9f9;
    color: #333;
}

#content {
    margin: 10px;
}

input[type="number"], button {
    margin-top: 5px;
}
